		<div class="mt-5 pt-5 pb-5 footer">
			<div class="container">
			  <div class="row">
				<div class="col-lg-5 col-xs-12 about-company">
					<h1 style="font-family: 'Amatic SC';">COUCHSURF</h1>
				  <p class="pr-5 text-white-50">CouchSurf is a classic crowdsourced resource website to make your couchsurfing efforts easier and more maneagable.  This site is completely made up and for the purpose of a portfolio.</p>
				  <!-- <p><a href="#"><i class="fa fa-facebook-square mr-1"></i></a><a href="#"><i class="fa fa-linkedin-square"></i></a></p> -->
				</div>
				<div class="col-lg-3 col-xs-12 links">
				  <h2 class="mt-lg-0 mt-sm-3" style="font-family: 'Amatic SC'; font-weight: 5px;">LINKS</h2>
					<ul class="m-0 p-0" style="list-style-type: none;">
					  <li><a href="#">ABOUT</a></li>
					  <li><a href="#">CAREERS</a></li>
					  <li><a href="#">PRESS</a></li>
					  <li><a href="#">TERMS OF SERVICE</a></li>
					  <li><a href="#">PRIVACY POLICY</a></li>
					</ul>
				</div>
				<div class="col-lg-4 col-xs-12 location">
				  <h2 class="mt-lg-0 mt-sm-4" style="font-family: 'Amatic SC'; font-weight: 5px;">CONTACT</h2>
					<ul class="m-0 p-0" style="list-style-type: none;">
					  <li> Located in Seattle, WA</li>
					  <li><i class='fas fa-phone' style='font-size:20px'></i>   (123) 123-1234</li>
					  <li><i class="far fa-envelope"></i>   info@hsdf.com</li>
					  <li></li>
					  <li></li>
					</ul>
					<p style="padding-top: 40px;">
						<!-- ICONS -->
						<a href="https://github.com/ewalasagas/couchsurf"><i class="fa fa-github-square" style="font-size:36px"></i></a>
						<a href="https://www.linkedin.com/in/elaine-alasagas-56a81759/"><i class="fa fa-facebook-square" style="font-size:36px"></i></a>
						<a href="https://www.linkedin.com/in/elaine-alasagas-56a81759/"><i class="fa fa-instagram" style="font-size:36px"></i></a>
						<a href="https://www.linkedin.com/in/elaine-alasagas-56a81759/"><i class="fa fa-twitter-square" style="font-size:36px"></i></a>
					</p>
				</div>
			  </div>
				<div class="col copyright">
				  <p class=""><small class="text-white-50">© Sample Template 2020. All Rights Reserved.</small></p>
				</div>
			</div>
		</div>
	</body>
</html>