<%- include("../partials/header") %>

<div class="container" id="create_couch">

		<h1 style="text-align: center; font-family: 'Amatic SC'; font-weight: 5px; font-size: 60px;">
			<i class="em em-writing_hand" aria-role="presentation" aria-label=""></i>
			Leave a Comment/Review</h1>
			<h3 style="text-align: center; font-family: 'Amatic SC'; font-weight: 5px; font-size:50px">for: <%= couch.name %></h3>
		<div class="form-group" style="width: 100%; margin: 0; auto;">
			<form action="/couches/<%= couch._id %>/comments" method="POST">

				<div class="form-group">
					<div class="input-group-append">
						<span class="input-group-text"><i class=""></i></span>
						<!-- <input class="form-control" type="text" name="description" placeholder="description"> -->
						<textarea class="form-control"  type="text" name="comment[text]" placeholder="leave a review" style="height: 300px;">Leave a comment/review..</textarea>
					</div>
				</div>

				<!-- <div class="form-group">
					<input class="form-control" type="text" name="location" id="location" placeholder="Yosemite"> -->

				<div class="form-group">
					<button class="btn btn-success">Submit</button>
					<a href="/couches" style="float: right; color: #33a427">Back</a>
				</div>
			</form>
		</div>
</div>

<%- include("../partials/footer") %>