/* body {
	background-color:  #ccd1d1;
} */

.form-control {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.alert {
    width:100%;
    height:100%;   
}

.display-4 {
	font-family: 'Amatic SC';
}

.carousel {
   overflow: hidden;
   height: auto;
   max-height: 450px; 
   position: relative;
}

.img {
	display:block;
	width:100%;
	height: auto;
	position: absolute;
}

.main-text {
	background-color: rgba(167,167,167,0.4);
  	color:#fff;
  	position:absolute;
	  z-index:12;
  	top:25%;
  	left:0;
  	width:100%;
  	text-align:center;
}

title {
	font-family: 'Amatic SC';
}

.navbar-brand {
	font-family: 'Amatic SC';
	display: inline;
	font-size: 30px;
	font-weight: 3px;
}

#map {
	height: 400px;
	width: 100%;
}

.img-fluid {
	width: 100%;
}

.img-thumbnail {
	padding: 0;
}

.img-thumbnail h4, h5, p{
	padding: 9px;
}

.row {
	padding: 9px;
}

.deleteForm {
	display: inline;
}

/* STYLE FOR LOGIN AND REGISTER FORMS */
.user_card {
	height: 400px;
	width: 350px;
	margin-top: 50px;
	margin-bottom: auto;
	background: #d3f9cf;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
}

.form_container {
	margin-top: 10px;
}

.login_btn {
	width: 100%;
	background: #33a427 !important;
	color: white !important;
}

.login_btn:focus {
	box-shadow: none !important;
	outline: 0px !important;
}

.login_container {
	padding: 0 2rem;
}

.input-group-text {
	background: #33a427 !important;
	color: white !important;
	border: 0 !important;
	border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
	box-shadow: none !important;
	outline: 0px !important;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
	background-color: #33a427 !important;
}

