<%- include("../partials/header") %>

<div class="container" id="create_couch">

		<h1 style="text-align: center; font-family: 'Amatic SC'; font-weight: 5px; font-size: 60px;">
			<i class="em em-house_with_garden" aria-role="presentation" aria-label="HOUSE WITH GARDEN"></i>
			Create a New Couch</h1>
		<div class="form-group" style="width: 100%; margin: 0; auto;">
			<form action="/couches" method="POST">

				<div class="form-group" style="width: 50%;">
					<label>COUCH NAME:</label>
					<div class="input-group-append">
						<span class="input-group-text"><i class=""></i></span>
						<input class="form-control" type="text" name="name" placeholder="name">
					</div>
				</div>

				<label>PRICE PER DAY:</label>
				<div class="form-group" style="width: 30%;">
					<div class="input-group-append">
						<span class="input-group-text"><i class=""></i></span>
						<input class="form-control" type="number" name="price" placeholder="price" min="0.01" step="0.01">
					</div>
				</div>

				<div class="form-group">
					<label>URL IMAGE:</label>
					<div class="input-group-append">
						<span class="input-group-text"><i class=""></i></span>
						<input class="form-control" type="text" name="image" placeholder="image url">
					</div>
				</div>

				<div class="form-group">
					<label>DESCRIPTION OF PLACE:</label>
					<div class="input-group-append">
						<span class="input-group-text"><i class=""></i></span>
						<!-- <input class="form-control" type="text" name="description" placeholder="description"> -->
						<textarea class="form-control" type="textarea" name="description" placeholder="Leave a review" style="height: 300px;">Description of your new couch..
						</textarea>
					</div>
				</div>

				<!-- <div class="form-group">
					<input class="form-control" type="text" name="location" id="location" placeholder="Yosemite"> -->

				<div class="form-group">
					<button class="btn btn-success">Submit</button>
					<a href="/couches" style="float: right; color: #33a427">Back</a>
				</div>
			</form>
		</div>
</div>

<%- include("../partials/footer") %>

</body>
</html>